
/* LOGIN PHP-------------------------------------------------------------------------------------------------------------------

/* Change le style de h1 */
h1 {
	font-size: 40px;
	margin-left: 40%;
	font-family: Arial;
}

/* Style page */
body {
	background-color: #A63446;
}

/* Style des liens dans la barre de navigation */
.type {
    text-align: center;
    font-size: 17px;
    margin-left: 39.7%;
}

/* Style du bouton */
.button {
	text-align: center;
	font-size: 17px;
    margin-left: 44.5%;
}

/* Style du lien */
.mdpo {
	text-decoration: none;
	text-align: center;
}

